.gra {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.gra-txt {
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.lh {
  color: white;
  line-height: 28px;
}

.t1 {
  color: #00ff88;
  font-size: 48px;
  font-weight: bold;
}

.t2 {
  color: #ffffff80;
  line-height: 28px;
}